<!DOCTYPE html>
<html lang="en">

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>C'mon LIVE</title>
    <style>
        .card {
            margin-top: 8vh;
            border-width: 3px;
            /* float: left; */
        }

        #feed1 {
            float: left;
            margin-left: 3%;
        }

        #feed2 {
            float: right;
            margin-right: 3%;
        }

        .feed {
            height: 400px;
            /* background-color: bisque; */
        }

        #videoElement {
            width: 400px;
            height: 400px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            console.log("http://" + document.domain + ":" + location.port + "/testsocket")
            var socket = io.connect("http://" + document.domain + ":" + location.port + "/testsocket");
            console.log(socket)
            socket.on('response', function(msg){
                $("#received").append('<p> ' + msg.hello + '</p>');
            });
            socket.on('message',function (msg){
                alert( 'Lorem ipsum dolor' );
            });
        });
    </script>
    <meta charset="UTF-8">

</head>

  <body>
{#    <h1>Live Test Demo</h1>#}

{#####}
{#<h1>Received</h1> <div id="received"> </div> <form id="broadcast" action="#">#}
{#    <input id="input-data" type="text"/> <input type="submit"/>#}
{#</form>#}
{#####}
    <div class="card" id="feed1" style="width: 400px;">
        <div class="feed">
            <div id="container"> <video autoplay="true" id="videoElement"> </video> </div>
        </div>
        <img id="bg" src="{{ url_for('live') }}" style="float: left; width:500px; height:500px;" >

        <div class="card-body">
            <h5 class="card-title">Original Feed</h5>
            <p class="card-text">The original feed from the camera.</p>
        </div>
    </div>
    <div class="card" id="feed2" style="width: 400px;">
        <div class="feed">
            <div id="container"> <video autoplay="true" id="videoElement"> </video> </div>
        </div>
        <img id="bg" src="{{ url_for('live_process') }}" style="float: left; width:500px; height:500px;" >
        <div class="card-body">
            <h5 class="card-title">Check Attend</h5>
            <p class="card-text">Keep your forehead in the green bounding box.</p>
        </div>
    </div> <!-- Optional JavaScript -->
  </body>
</html>
