<!DOCTYPE html>
<html lang="en">

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>LIVE DEMO</title>
    <style>
        .card {
            margin-top: 8vh;
            border-width: 3px;
            /* float: left; */
        }

        #feed1 {
            float: left;
            margin-left: 3%;
        }

        #feed2 {
            float: right;
            margin-right: 3%;
        }

        .feed {
            height: 400px;
            /* background-color: bisque; */
        }

        #videoElement {
            width: 400px;
            height: 400px;
        }
    </style>
</head>

  <body>
{#    <h1>Live Test Demo</h1>#}

    <div class="card" id="feed1" style="width: 400px;">
        <div class="feed">
            <div id="container"> <video autoplay="true" id="videoElement"> </video> </div>
        </div>
        <img id="bg" src="{{ url_for('video_feed2') }}" style="float: left; width:500px; height:500px;" >

        <div class="card-body">
            <h5 class="card-title">Original Feed</h5>
            <p class="card-text">The original feed from the camera.</p>
        </div>
    </div>
    <div class="card" id="feed2" style="width: 400px;">
        <div class="feed">
            <div id="container"> <video autoplay="true" id="videoElement"> </video> </div>
        </div>
        <img id="bg" src="{{ url_for('process') }}" style="float: left; width:500px; height:500px;" >
        <div class="card-body">
            <h5 class="card-title">Check Attend</h5>
            <p class="card-text">Keep your forehead in the green bounding box.</p>
        </div>
    </div> <!-- Optional JavaScript -->
  </body>
</html>
