<!DOCTYPE html>
<html lang="en">

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
     <title>C'mon LIVE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            console.log("http://" + document.domain + ":" + location.port + "/testsocket")
            var socket = io.connect("http://" + document.domain + ":" + location.port + "/testsocket");
            console.log(socket)
            socket.on('response', function(msg){
                $("#received").append('<p> ' + msg.hello + '</p>');
            });
            socket.on('message',function (msg){
                swal("주의","수업에 집중해주세요!!!",'warning');
                {#alert( 'Lorem ipsum dolor' );#}
            });
        });
    </script>
    <meta charset="UTF-8">

</head>

  <body>
    <div class="container">
        <div style=" position:absolute; top:0px; left:0px;">
            <img id="bg" src="{{ url_for('live') }}" style="width:1440px;" >
        </div>
        <div style="position:absolute; top:630px; left:1140px;">
            <img id="bg" src="{{ url_for('live_process') }}" style="width: 300px;" >
        </div>
    </div>
  </body>
</html>
